<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <ul id="widget-tab" class="clearfix widget-tab-nav">
      <li class="active"><a><%= __('archive_a') %></a></li>
    </ul>
    <!-- <h3 class="widget-title"><%= __('archive_a') %></h3> -->
    <div class="widget-wrap">
      <%- list_archives({show_count: theme.show_count, type: theme.archive_type}) %>
    </div>
  </div>
<% } %>
