<header class="header-main">
    <h1>
    <a href="https://opensource.google.com/" title="Google Open Source">
                opensource.google.com
              </a>
    </h1>
    <a href="/#Navigation" id="NavTrigger" title="Nav Toggle Open">
    <span>Menu</span>
    </a>
    <nav class="main-nav" id="Navigation">
    <ul>
    <li class="projects">
    <a href="https://opensource.google.com/projects/" title="Projects">
                    Projects
                  </a>
    </li>
    <li class="community">
    <a href="https://opensource.google.com/community/" title="Community">
                    Community
                  </a>
    </li>
    <li class="docs">
    <a href="https://opensource.google.com/docs/" title="Docs">
                    Docs
                  </a>
    </li>
    <li class="blog">
    <a href="/" title="Blog">
                    Blog
                  </a>
    </li>
    </ul>
    </nav>
    </header>