.widget-wrap
  margin-bottom: block-margin !important
  @media mq-normal
    column(main-column)

.widget-tag
  color: color-sidebar-text
  background: transparent
  padding: 15px 0 0
  a
    color: #555
    text-decoration: none
    &:hover
      color: color-link-hover
      text-decoration: none
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc

.widget-title
  color: #ccc
  text-transform: uppercase
  letter-spacing: 2px
  margin-bottom: .5em
  line-height: 1em
  font-weight: bold

.widget-tag
  color: color-grey
  ul, ol
    li
      display: inline-block
      zoom:1
      *display:inline
      padding-right: .75em
      
.widget
  color: color-grey
  ul, ol
    li
      display: inline-block
      zoom:1
      *display:inline
      padding-right: .75em
/* Having problems getting balanced white space between items
    li:before
      content: " | "
    li:first-child:before
      content: none
 */
